*~
auto/
elpa/
*DS_Store*
._*
thermo-emacs*.el
eshell/
ido.last
eshell.sh
bookmarks
tramp
server/
ac-comphist.dat
lisp/auctex*
*.dat
lisp/preview-latex.el
lisp/tex-site.el
request/
abbrev_defs
transient/